.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.header-bg {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}